/monDemineur/monDemineur/buid/built-jar.properties
/monDemineur/monDemineur/dist/monDemineur.html
/monDemineur/monDemineur/dist/monDemineur.jar
/monDemineur/monDemineur/dist/web-files/dtjava.js
/monDemineur/monDemineur/nbproject/private/
/monDemineur/monDemineur/dist/
/monDemineur/monDemineur/build/
*.xml
*.xml
*.properties
*.jar